body{
    background-image: url(assets/BackgroundTexture.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    color: black;
    padding-top: 51px;
}
h1{
    color: yellow;
    text-align: center;
    width: 100vw;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 55px;
}
p{
    color: black;
    font-weight: bold;
    font-size: 16px;

}
h2{
    text-align: center;
    color: black;
    font-weight: bold;
}
h3{
    color: black;
    font-weight: bold;
}
.aboutMe{
    position: relative;
    height: auto;
    width: 375px;
    border-radius: 20px;
}
.contactForm{
    border-radius: 20px;
    text-align: center;
    width: 37%;
    height: auto;
}
.formStyle{
    margin: 5px;
}
input submit{
    width: 35px;
}
#header{
    position: relative;
}
#fullName{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.projects{
    margin: 5px;
    text-align: center;
}
.contactForm h3{
    color: white;
}
.logo{
    height: 50px;
    width: auto;
    float: right;
    padding: 3px;
}
